
<div class="footer-wrap sz-footer">
	<footer class="container template-footer">
		<div class="row footer-content social align-center">
			{{widget('profile', 'social-sz', { 'profileType' : 'socialicons' })|raw}}
		</div>
		<div class="row footer-content-copy align-center">
			{{widget('profile', 'f-copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
		</div>
	</footer>
</div>